* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #191e24;
}
header.scroll{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
}
.menu {
    width: 100%;
}

.carousel-indicators li {
    width: 30px !important;
    height: 25px !important;
    border-radius: 50%;
    border-top: 0!important;
    border-bottom: 0!important;
    transform: scale(0.5);
}
.navbar-collapse {
    justify-content: space-between;
}
.navbar-brand {
    font-style: italic;
    font-weight: bold;
    border-radius: 2rem;
    border: 1px outset #42d3dd;
    padding: 30px;
    letter-spacing: 1px;
    background: linear-gradient(to left, #343a40 50%, #42d3dd 0%);
    background-size: 200% 100%;
    transition: 0.4s;
}
.navbar-brand:hover {
    background-position: right center;
}
.dropdown-menu.show {
    animation: show1 0.4s ease forwards;
}
@keyframes show1 {
    from {
        top: 55px;
        opacity: 0;
    }
    to {
        top: 40px;
        opacity: 1;
    }
}
.Content {
    margin-top: 5px;
    background: #fff;
}
.clickable{
    cursor: pointer;   
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #337ab7;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.card-body{
    padding: 0!important;
    border: 1px solid #ddd;
    background: #fff;
    box-shadow: 0.5px 0.5px 8px 2px #59595929;
}
.card-body h5{
    padding: 15px 20px;
    background-color: #f5f5f5;
}
.rate-np {
    text-align: center;
    font-size: 5rem;
    font-weight: 350;
    display: block;
}
.col-sm-9 {
    margin-top: 15px;
}

.panel-primary {
    border-color: #337ab7;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.pull-right {
    float: right!important;
}
.panel-heading span {
    margin-top: -37px;
    font-size: 20px;
}
.panel-body {
    padding: 15px;
}
.panel-body:before{
    display: table;
    content: " ";
}
.panel-body:after{
    clear: both;
    display: table;
    content: " ";
}
.block {
    display: flex;
    justify-content: space-between;
}

.span{
    padding: 5px 15px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
.form-group.item-service {
    display: flex;
    justify-content: space-between;
}
.signup-form{
    padding: .5rem 1.5rem;
}
.setup{
    margin-top: 15px;
    margin-bottom: 15px;
}
.col-sm-8.setup {
    border-left: 1px solid #dbdbdb8a;
}
input[type="checkbox"],
input[type="radio"] {
    cursor: pointer;
}

.form-group-click{
    float: right;
}
.table {
    margin-top: 20px;
}
footer {
    margin-top: 200px;
    background-color: #191e24;
    color: white;
}


.footer-copyright.text-center p span {
    line-height: 22px;
    font-size: 14px;
    color: #2a2a2a;
    width: 80rem;
    margin: auto;
    display: block;
}

.footer-copyright.text-center p {
    background: #fff;
    padding: 4px 0;
    margin-bottom: .2rem;
}

ul.list-unstyled li a {
    color: #fff;
}

.box-hotro-top{
    position: absolute;
    top: 0;
    right: 305px;
    width: 420px;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    z-index: 100;
    background: #fff;
    padding: 0 15px;
    display: none;
}

.support:hover .box-hotro-top{
    display: block;
    animation: show2 0.4s ease forwards;
}
@keyframes show2 {
    from {
        top: 58px;
        opacity: 0;
    }
    to {
        top: 40px;
        opacity: 1;
    }
}
.item-hotro{
    border-top: 1px solid #d8d8d8;
    padding: 30px 0;
}
.item-hotro:first-child{
    border-top: 0;
}
.box-hotro-top p{
    margin: 0;
    float: left;
    margin-right: 15px;
}
.box-hotro-top a{
    float: left;
    margin-right: 15px;
}