body{
    margin: 0;
    padding: 0;
    background-image: url("images/img1.jpg");
}
.navbar-brand{
    font-style: italic;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    color: red;
    background-color: yellow;
    border-radius: 10px;
}
.footer{
    width: 100%;
    margin-top: 50px;
    background-color: #0066FF;
    color: white;
}
.false{
    text-align: center;
}
.btn-google {
    color: white;
    background-color: #ea4335;
  } 
.btn-facebook {
    color: white;
    background-color: #818da0;
  }