body{
    margin: 0;
    padding: 0;
    background-image: url("images/img1.jpg");
}
.navbar-brand{
    font-style: italic;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    color: red;
    background-color: burlywood;
    border-radius: 10px;
}
.chu{
    color:black;
    font-weight: bolder;
}
.content{
    margin-top: 20px;
    background: burlywood;
}
.btn.btn-primary.submit{
    margin-left: 457px;
}
.row{
    margin-top: 10px;
}
.footer{
    margin-top: 100px;
    background-color: #818da0;
    color: white;
}