* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #ededed !important;
}

header.scroll{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
}
.menu {
    width: 100%;
}
.card {
    border: 1px solid rgb(0 0 0 / 6%) !important;
    border-radius: 0.5rem !important;
}
.carousel-indicators li {
    width: 30px !important;
    height: 25px !important;
    border-radius: 50%;
    border-top: 0!important;
    border-bottom: 0!important;
    transform: scale(0.5);
}
.navbar-collapse {
    justify-content: space-between;
}
.navbar-brand {
    font-style: italic;
    font-weight: bold;
    border-radius: 2rem;
    border: 1px outset #42d3dd;
    padding: 30px;
    letter-spacing: 1px;
    background: linear-gradient(to left, #343a40 50%, #42d3dd 0%);
    background-size: 200% 100%;
    transition: 0.4s;
}
.navbar-brand:hover {
    background-position: right center;
}
.dropdown-menu.show {
    animation: show1 0.4s ease forwards;
}
@keyframes show1 {
    from {
        top: 55px;
        opacity: 0;
    }
    to {
        top: 40px;
        opacity: 1;
    }
}
.Content {
    margin-top: 5px;
    border: 0.5px solid #26222236;
    background: #fff;
    box-shadow: 1px 4px 10px 5px #0000001c;
}
.clickable{
    cursor: pointer;   
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #337ab7;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.card-body{
    padding: 0!important;
    border: 1px solid #ddd;
}
.card-body h5{
    border: 1px solid #ddd;
    padding: 15px 20px;
    background-color: #f5f5f5;
}
.panel-primary {
    border-color: #337ab7;
    margin-top: 8px;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.pull-right {
    float: right!important;
}
.panel-heading span {
    margin-top: -37px;
    font-size: 20px;
}
.panel-body {
    padding: 15px;
}
.panel-body:before{
    display: table;
    content: " ";
}
.panel-body:after{
    clear: both;
    display: table;
    content: " ";
}
.block {
    display: flex;
    justify-content: space-between;
}
.span{
    padding: 5px 15px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
.form-group.item-service {
    display: flex;
    justify-content: space-between;
}
.signup-form{
    padding: .5rem 1.5rem;
}
.setup{
    margin-top: 15px;
    margin-bottom: 15px;
}
input[type="checkbox"],
input[type="radio"] {
    cursor: pointer;
}

.form-group-click{
    display: flex;
    justify-content: space-between;
}
.table {
    margin-top: 20px;
}
.container, .container-fluid {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
}
*, :after, :before {
    box-sizing: border-box;
}
.now-navigation-profile {
    background-color: #fff;
    border-radius: 4px;
    float: left;
    box-shadow: 0 0 3px 0 rgba(50,50,50,.3);
    width: 275px;
    margin-top: 35px;
    padding: 5px 16px 0;
    min-height: 428px;
}
.now-navigation-profile .header-profile {
    padding-top: 10px;
    padding-bottom: 10px;
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    min-width: 0;
}
.avatar-circle {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background: #ebebeb;
}
img {
    vertical-align: middle;
    border-style: none;
}
.font15 {
    font-size: .938rem!important;
}
.txt-bold {
    font-weight: 700!important;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.now-navigation-profile a.item-navigation.active {
    cursor: default;
}
.now-navigation-profile .item-navigation.active {
    color: #cf2127;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}
.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}
.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.fa-user:before {
    content: "\f007";
}
.fas {
    font-size: 16px;
    width: 20px;
    text-align: center;
}
.fa, .fas {
    font-weight: 900;
}
.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}
.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.now-navigation-profile .item-navigation .col {
    padding-left: 0;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    min-width: 0;
}
.now-navigation-profile .item-navigation.active .icon-arrow-thin {
    border-color: #cf2127;
}
.now-navigation-profile .item-navigation .icon-arrow-thin {
    border-width: 0 1px 1px 0;
    margin-right: 5px;
}
.icon-arrow-thin.right {
    transform: rotate(-45deg);
}
.right {
    float: right;
}
.icon-arrow-thin {
    border: solid #252525;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}
.now-navigation-profile .item-navigation:last-child {
    border: 0;
}
.now-navigation-profile .item-navigation {
    font-size: 13px;
    text-transform: none;
    color: #464646;
    border-bottom: 1px solid #ebebeb;
    display: block;
    padding: 10px 0;
    position: relative;
}
.item-navigation a {
    color: #464646;
}
a {
    color: #0288d1;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.now-navigation-profile .item-navigation .far, .now-navigation-profile .item-navigation .fas {
    font-size: 16px;
    width: 20px;
    text-align: center;
}
.fa, .fas {
    font-weight: 900;
}
.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}
.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.fa-shopping-cart:before {
    content: "\f07a";
}
.now-navigation-profile .item-navigation .col {
    padding-left: 0;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    min-width: 0;
}
.now-navigation-profile .item-navigation .icon-arrow-thin {
    border-width: 0 1px 1px 0;
    margin-right: 5px;
}
.icon-arrow-thin.right {
    transform: rotate(-45deg);
}
.right {
    float: right;
}
.icon-arrow-thin {
    border: solid #252525;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}
.now-navigation-profile .item-navigation:last-child {
    border: 0;
}
.now-navigation-profile .item-navigation {
    font-size: 13px;
    text-transform: none;
    color: #464646;
    border-bottom: 1px solid #ebebeb;
    display: block;
    padding: 10px 0;
    position: relative;
}
.item-navigation a {
    color: #464646;
}
a {
    color: #0288d1;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.now-navigation-profile .item-navigation .far, .now-navigation-profile .item-navigation .fas {
    font-size: 16px;
    width: 20px;
    text-align: center;
}
.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}
.far {
    font-weight: 400;
}
.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.fa-credit-card:before {
    content: "\f09d";
}
.now-navigation-profile .item-navigation .col {
    padding-left: 0;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    min-width: 0;
}
.now-navigation-profile .item-navigation .icon-arrow-thin {
    border-width: 0 1px 1px 0;
    margin-right: 5px;
}
.icon-arrow-thin.right {
    transform: rotate(-45deg);
}
.right {
    float: right;
}
.icon-arrow-thin {
    border: solid #252525;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}
.now-navigation-profile .nav-payment {
    padding-left: 30px;
    padding-top: 10px;
}
.now-detail-profile {
    float: right;
    width: 760px;
    min-height: 428px;
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 3px 0 rgba(50,50,50,.3);
    margin-top: 35px;
}
.now-detail-profile .header-user-profile {
    font-size: 18px;
    color: #000;
    font-weight: 700;
    padding: 16px 15px;
    border-bottom: 1px solid #ebebeb;
    position: relative;
    background: #f5f5f5;
}
.user-profile-update {
    padding: 30px;
    position: relative;
}
.user-profile-update .title-user {
    font-weight: 700;
    font-size: 15px;
    color: #4073a7;
    padding-bottom: 20px;
    position: relative;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.user-profile-update .user-avatar-image img {
    width: 115px;
    height: 115px;
    border-radius: 50%;
}
img {
    vertical-align: middle;
    border-style: none;
}
.col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
.form-group {
    margin-bottom: 1rem;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
.btn-blue-4 {
    background-color: #4073a7;
    border-color: #4073a7;
    color: #fff;
}
.btn {
    transition: none;
}
.btn {
    color: #fff;
    background-color: #0288d1;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #0288d1;
    border-radius: 6px;
    padding: .23rem .6rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 3px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.user-profile-update {
    padding: 30px;
    position: relative;
}
.user-profile-update .title-user {
    font-weight: 700;
    font-size: 15px;
    color: #4073a7;
    padding-bottom: 20px;
    position: relative;
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
.form-group {
    margin-bottom: 1rem;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.txt-bold {
    font-weight: 700!important;
}
.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.col-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.wrapper input[type=color], .wrapper input[type=date], .wrapper input[type=datetime-local], .wrapper input[type=datetime], .wrapper input[type=email], .wrapper input[type=month], .wrapper input[type=number], .wrapper input[type=password], .wrapper input[type=search], .wrapper input[type=tel], .wrapper input[type=text], .wrapper input[type=time], .wrapper input[type=url], .wrapper input[type=week], .wrapper select:focus, .wrapper textarea {
    font-size: 16px;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.form-control {
    transition: none;
}
.form-control {
    display: block;
    width: 100%;
    padding: .23rem .6rem;
    font-size: .875rem;
    line-height: 1.5;
    color: #6d6f71;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
.form-group {
    margin-bottom: 1rem;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    min-width: 0;
}
.col-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.7725rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1em;
    color: #6d6f71;
    vertical-align: middle;
    background: #fff;
    background-size: 8px 10px;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
.form-group {
    margin-bottom: 1rem;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.txt-bold {
    font-weight: 700!important;
}
.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.col-8 {
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}
.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.form-group {
    margin-bottom: 1rem;
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
.mar-bottom5 {
    margin-bottom: 5px!important;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.txt-bold {
    font-weight: 700!important;
}
.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.col-4 {
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.user-profile-update .validate-pass .form-control {
    padding-right: 15px;
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
.mar-bottom5 {
    margin-bottom: 5px!important;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.txt-bold {
    font-weight: 700!important;
}
.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.user-profile-update .validate-pass .form-control {
    padding-right: 15px;
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.txt-bold {
    font-weight: 700!important;
}
.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.user-profile-update .validate-pass .form-control {
    padding-right: 15px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-blue-4 {
    background-color: #4073a7;
    border-color: #4073a7;
    color: #fff;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn {
    transition: none;
}
.btn {
    color: #fff;
    background-color: #0288d1;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #0288d1;
    border-radius: 6px;
    padding: .23rem .6rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 3px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    border-radius: 0;
}
*, :after, :before {
    box-sizing: border-box;
}
.fade:not(.show) {
    opacity: 0;
}
.fade {
    transition: none;
}
.fade {
    transition: opacity .15s linear;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    outline: 0;
}
.modal, .modal-open {
    overflow: hidden;
}
.modal.fade .modal-dialog {
    transition: none;
}
.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translateY(-25%);
}
.modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
}
.modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
}
.modal-dialog-centered {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-height: calc(100% - 1rem);
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events: none;
}
.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
.close:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.txt-center {
    text-align: center!important;
}
.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid #d7d7d7;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}
.modal-body {
    color: #464646;
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 10px 15px;
}
.btn.btn-blue-4{
    background-color: #0288d1;
}
.custom-file-image .label-custom {
    color: #000;
    font-size: 14px;
    cursor: pointer;
    background-color: #ebebeb;
    text-transform: capitalize;
    padding: 3px 18px 4px;
    border-radius: 3px;
    margin-bottom: 0;
    margin-right: 10px;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}
div {
    display: block;
}
.footer {
    margin-top: 850px;
    background-color: #818da0;
    color: white;
}

