.rate .ratings_stars{
    height: 30px;
    width: 25px;
    background: url(../Frontend/image/images/200/start2.png) center no-repeat;
    background-size: 20px;
    float: left !important;
    margin-right: 5px;
}
.rate .ratings_over {
    background: url(../Frontend/image/images/200/start-active2.png) center no-repeat;
     background-size: 20px;
}
.rate .ratings_hover {
    background: url(../Frontend/image/images/200/start-hover2.png) center no-repeat;
    background-size: 20px;
}
.rate .vote{
    display: inline-block;
}
.rate .rate-np {
    font-size: 12px;
    color: #c89805;
    display: inline-block;
    margin-left: 3px;
    font-weight: bold;
    margin-top:0px;
    vertical-align: top;
}
.input-group-append, .input-group-prepend {
    justify-content: center;
}
